.image-loading {
    border-radius: 5px;
}

.not-loaded {
    background-image: url('/assets/giphy.webp');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}