.card {
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.not-loaded {
    background-image: url('/assets/giphy.webp');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}