.home {
    padding-top: 16px;
    width: 100%;

    &__manga-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding-top: 16px;
        justify-content: center;
        box-sizing: border-box;
    }
}